            img{    
                width: 80px;
                padding-top: 0%;     
                     
            }

           .img1{
             float: right;
             padding-top:70px;
           }
           

            header{
              padding-top: 1px;
              padding-bottom: 10px;
              color:whitesmoke;
              text-shadow: rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), alpha);
              font-family: Georgia, 'Times New Roman', Times, serif;
              border-width: 7px;
              background-color: #333;
            }

            

            .topnav {
              overflow: hidden;
              background-color: #333;
            }
            
            .topnav a {
              float: left;
              color: #f2f2f2;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
              font-size: 17px;
            }
            
            .topnav a:hover {
              background-color: #ddd;
              color: black;  
            }
            
            .topnav a.active {
              background-color: #04AA6D;
              color: white;
            }

            h1{
              padding-top: 10px;
              
            }