.home
    {
    background-image: url("./NASDA\ _Advancing\ Agriculture_.gif");
     -webkit-background-size: cover;
     background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    padding-bottom:600.5px ;
    font-family:Verdana, Tahoma, sans-serif;
    color:gold;
    text-shadow: orange;
    font-size: 72px;
    border-color: #04AA6D;
    border-style: solid;
    border-width: 5px;
    }